:root {
  --color-camino-top: #ff94a9;
  --color-camino-bot: #faff63;
  --color-pared: black;
}

* {
  font-family: vanilla;
}

@font-face {
  font-family: vanilla;
  src: url("Vanilla Twilight.otf");
}

.casilla {}

#mapa {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.level {
  --level: "1";
  --level-text: "Level::";
  background-color: var(--color-pared);
  background-size: 100%;
  color: pink;
  z-index: 2;
}

.level:after {
  font-size: 28px;
  content: var(--level-text)var(--level);
  overflow-x: visible;
  display: block;
}

.score {
  --score: "0000000";
  --score-text: "Score::";
  background-color: var(--color-pared);
  background-size: 100%;
  color: pink;
  z-index: 2;
}

.score:after {
  font-size: 28px;
  content: var(--score-text)var(--score);
  overflow-x: visible;
  display: block;
}

.vidas {
  --vidas: "5";
  --vidas-text: "Lifes::";
  background-color: var(--color-pared);
  background-size: 100%;
  overflow-x: visible;
  font-size: 30px;
  color: pink;
  z-index: 2;
}

.vidas::after {
  content: var(--vidas-text)var(--vidas);
}

.leyenda1, .leyenda2, .leyenda3, .leyenda4{
  background-color: var(--color-pared);
}
.leyenda1:after, .leyenda2:after, .leyenda3:after, .leyenda4:after{
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 100%;
  height:50px ;
  color: pink;
  z-index: 3;
  animation: priority 1s infinite;
}
.leyenda1:after {
  background-image: url("llave2.png");
  content: "Get both";
}
.leyenda2:after {
  background-image: url("book.gif");
  content: "::to exit";
}
.leyenda3:after {
  background-size: 80%;
  background-image: url("cuchi.png");
  content: "Kill with";
}
.leyenda4:after {
  content: "to move:: W A S D ";
}

.personaje, .enemy {
  --height-character: 50px;
  --margin-character: -20% 0px 0px 0px;
  background-image: linear-gradient(to top right, var(--color-camino-bot), var(--color-camino-top));
}

.personaje:after, .enemy:after {
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  margin: var(--margin-character);
  width: 90%;
  height: var(--height-character);
  content: "";
  z-index: 15;
}

.personaje:after {
  background-image: url("personaje.png");
  background-size: 90%;
  animation: priority 1s infinite, salto2 0.5s steps(8);
}

.enemy:after {
  background-image: url("monika.png");
  background-size: 80%;
  animation: priority 1s infinite, saltar 0.5s steps(8);
}

@keyframes salto2 {
  0% {
    background-image: url("jump.png");
  }

  50% {
    transform: translateY(-10px);
    background-image: url("jump.png");
  }

  100% {
    transform: translateY(0px);
    background-image: url("jump.png");
  }
}

@keyframes saltar {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Mantiene la prioridad de una imagen similar al z-index */
@keyframes priority {
  100% {
    transform: scaleX(0.9999);
  }
}

.pisado {
  --height-pisado: 30px;
  --margin-pisado: -10% 0px 0px 0px;
  background-image: linear-gradient(to top right, var(--color-camino-bot), var(--color-camino-top));
}

.pisado:before {
  background-image: url("huella.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: var(--margin-pisado);
  width: 100%;
  height: var(--height-pisado);
  content: "";
  z-index: 3;
  /* animation: subir 1s infinite steps(1); */
}

@keyframes subir {
  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.llave {
  --height-item: 30px;
  --margin-item: 0px 0px 0px 0px;
  background-color: var(--color-pared);
}

.llave:after {
  background-position: center;
  background-size: 100%;
  background-image: url("llave2.png");
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  height: var(--height-item);
  width: 100%;
  animation-direction: normal;
  animation: girar 1s infinite steps(30), aparecer 1s steps(24);
  z-index: 7;
}

@keyframes girar {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes aparecer {
  0% {
    transform: scaleX(0.2) scaleY(0.2);
  }

  80% {
    transform: scaleX(1.2) scaleY(1.2);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}


.spawn {
  --height: 10px;
  background-image: linear-gradient(to top, grey, black);
}
.spawn:after {
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  width: 100%;
  height: var(--height);
  content: "";
  z-index: 16;
  background-image: url("door.png");
  background-size: 100%;
  animation: spawn 2s linear;
}

@keyframes spawn {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform-origin: 0% 100%;
  }

  50% {
    -webkit-transform: perspective(1000px) rotateY(90deg);
    -webkit-transform-origin: 0% 100%;
  }

  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform-origin: 0% 100%;
  }
}

.book {
  --height-item: 30px;
  --margin-item: 0px 0px 0px 0px;
  background-color: var(--color-pared);
}

.book:after {
  background-position: center;
  background-size: 100%;
  background-image: url("book.gif");
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  height: var(--height-item);
  width: 140%;
  animation-direction: normal;
  animation: priority 1s infinite, aparecer 1s steps(24);
  z-index: 7;
}

.knife {
  --height-item: 30px;
  --margin-item: 0px 0px 0px 0px;
  background-color: var(--color-pared);
}

.knife:after {
  background-position: center;
  background-size: 100%;
  background-image: url("cuchi.png");
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  height: var(--height-item);
  width: 140%;
  animation-direction: normal;
  animation: priority 1s infinite, aparecer 1s steps(24);
  z-index: 7;
}

.nothing {
  --height-item: 30px;
  --margin-item: 0px 0px 0px 0px;
  background-color: var(--color-pared);
}

.nothing:after {
  background-position: center;
  background-size: 100%;
  background-image: url("nothing.png");
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  height: var(--height-item);
  width: 100%;
  animation-direction: normal;
  animation: priority 1s infinite, aparecer 1s steps(24);
  z-index: 7;
}


.cerrarPuerta, .abrirPuerta{
  --height: 10px;
  background-image: linear-gradient(to top, grey, black);
}

.cerrarPuerta:after, .abrirPuerta:after{
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  width: 100%;
  height: var(--height);
  content: "";
  z-index: 16;
  background-image: url("door.png");
  background-size: 100%;
}

.cerrarPuerta:after {
  animation: cerrar 1s linear;
}

@keyframes cerrar {
  0% {
    -webkit-transform: perspective(1000px) rotateY(-90deg);
    -webkit-transform-origin: 0% 100%;
  }

  100% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform-origin: 0% 100%;
  }
}

.abrirPuerta:after {
  animation: abrir 1s linear;
}

@keyframes abrir {
  0% {
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform-origin: 0% 100%;
  }

  100% {
    transform: perspective(1000px) rotateY(90deg);
    -webkit-transform-origin: 0% 100%;
  }
}

.camino {
  background-image: linear-gradient(to top right, var(--color-camino-bot), var(--color-camino-top));
}

.pared {
  background-color: var(--color-pared);
}

.up,.right,.down,.left{
  /* visibility: hidden; */
  position: absolute;
  width: 100%;
  height: 250px;
  z-index: 20;
  opacity: 0;
}
.up{
  left: 0;
  background-color: blue;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.left{
  left: 0;
  background-color: green;
  clip-path: polygon(50% 50%, 0 0, 0 100%);
}
.right{
  right: 0;
  background-color: yellow;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}
.down{
  bottom: 0;
  background-color: red;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

body {
  background-color: var(--color-camino-bot);
  height: 100%;
  margin: 0;
  padding: 0;
}
